[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	branch = release/3.6.1
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "deps/ios-cmake"]
	path = deps/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "deps/uint256_t"]
	path = deps/uint256_t
	url = https://github.com/calccrypto/uint256_t.git
[submodule "deps/nanopb"]
	path = deps/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "deps/minizip"]
	path = deps/minizip
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "deps/libzip"]
	path = deps/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "deps/secure-channel"]
	path = deps/secure-channel
	url = https://github.com/ziancube/ecdh-hkdf-secure-channel.git
